@charset "UTF-8";

* {
    list-style: none;
    text-decoration: none;
}


body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    width: 1000px;
    margin: auto;
    background-image: url('imagens/fundo-f1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 20px;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgba(206, 206, 22, 0.534);
}

h4 {
    border-left: 10px solid gray;
    border-bottom: 2px solid gray;
    padding: 10px;
    background-image: url('imagens/bandeira1.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

header > img {
    width: 100%;
}

p {
    text-indent: 10%;
    line-height: 1.5;
}

table tr td{
    border-bottom: 1px dotted gray;
    padding: 10px;
}